In [1]:
import pandas as pd # Beautiful tool for data wrangling! e.g. '!pip install pandas' from a Notebook
# See https://mariadb.com/blog/how-connect-python-programs-mariadb e.g. '!pip install mysql' from Notebook
import mysql.connector as mariadb 
import re
pd.set_option("display.max_rows",35) # Useful when having large Pandas DataFrames like we do here

In [43]:
conn = mariadb.connect(user='mos', password='', database='monuments_db',buffered=True)
cursor = conn.cursor()

In [3]:
cursor.execute("SHOW TABLES")
cursor.fetchall()

[('admin_tree',),
 ('commonscat',),
 ('image',),
 ('monuments-old_ch_(de)',),
 ('monuments-old_ch_(en)',),
 ('monuments-old_ch_(fr)',),
 ('monuments-old_ch_(it)',),
 ('monuments_ad_(ca)',),
 ('monuments_all',),
 ('monuments_am_(hy)',),
 ('monuments_aq_(en)',),
 ('monuments_ar_(es)',),
 ('monuments_at_(de)',),
 ('monuments_az_(az)',),
 ('monuments_be-bru_(nl)',),
 ('monuments_be-vlg_(en)',),
 ('monuments_be-vlg_(fr)',),
 ('monuments_be-vlg_(nl)',),
 ('monuments_be-wal_(en)',),
 ('monuments_be-wal_(fr)',),
 ('monuments_be-wal_(nl)',),
 ('monuments_bo_(es)',),
 ('monuments_by_(be-tarask)',),
 ('monuments_by_(be-x-old)',),
 ('monuments_ca_(en)',),
 ('monuments_ca_(fr)',),
 ('monuments_ch2_(de)',),
 ('monuments_ch3_(de)',),
 ('monuments_ch_(de)',),
 ('monuments_ch_(fr)',),
 ('monuments_ch_(it)',),
 ('monuments_cl_(es)',),
 ('monuments_cm_(fr)',),
 ('monuments_cn_(en)',),
 ('monuments_co_(es)',),
 ('monuments_cz_(cs)',),
 ('monuments_de-by_(de)',),
 ('monuments_de-he_(de)',),
 ('monuments_de-nrw-bm_(de)',),
 ('monuments_de-nrw-k_(de)',),
 ('monuments_de-nrw_(de)',),
 ('monuments_dk-bygninger_(da)',),
 ('monuments_dk-fortidsminder_(da)',),
 ('monuments_dz_(ar)',),
 ('monuments_ee_(et)',),
 ('monuments_es-ct_(ca)',),
 ('monuments_es-gl_(gl)',),
 ('monuments_es-vc_(ca)',),
 ('monuments_es_(ca)',),
 ('monuments_es_(es)',),
 ('monuments_fr-object_(fr)',),
 ('monuments_fr_(ca)',),
 ('monuments_fr_(fr)',),
 ('monuments_gb-eng_(en)',),
 ('monuments_gb-nir_(en)',),
 ('monuments_gb-sct_(en)',),
 ('monuments_gb-wls_(en)',),
 ('monuments_gh_(en)',),
 ('monuments_hk-hb_(en)',),
 ('monuments_hk_(en)',),
 ('monuments_hu_(hu)',),
 ('monuments_ie_(en)',),
 ('monuments_il_(he)',),
 ('monuments_in_(en)',),
 ('monuments_it-88_(ca)',),
 ('monuments_it-bz_(de)',),
 ('monuments_it_(it)',),
 ('monuments_jo_(ar)',),
 ('monuments_jp-nhs_(en)',),
 ('monuments_ke_(en)',),
 ('monuments_lu_(lb)',),
 ('monuments_mt_(de)',),
 ('monuments_mx_(es)',),
 ('monuments_nl-aw_(en)',),
 ('monuments_nl-aw_(nl)',),
 ('monuments_nl-gem_(nl)',),
 ('monuments_nl-prov_(nl)',),
 ('monuments_nl_(nl)',),
 ('monuments_no_(no)',),
 ('monuments_np_(en)',),
 ('monuments_pa_(es)',),
 ('monuments_ph_(en)',),
 ('monuments_pk_(en)',),
 ('monuments_pl-old_(pl)',),
 ('monuments_pl_(pl)',),
 ('monuments_pt_(pt)',),
 ('monuments_ro_(ro)',),
 ('monuments_rs_(sr)',),
 ('monuments_ru-old_(ru)',),
 ('monuments_ru_(ru)',),
 ('monuments_sk_(de)',),
 ('monuments_sk_(sk)',),
 ('monuments_sv_(es)',),
 ('monuments_th_(th)',),
 ('monuments_tn_(fr)',),
 ('monuments_ua_(uk)',),
 ('monuments_us-ca_(en)',),
 ('monuments_us_(en)',),
 ('monuments_uy_(es)',),
 ('monuments_ve_(es)',),
 ('monuments_za_(en)',),
 ('prox_search',),
 ('se_arbetsl',),
 ('se_arbetsliv',),
 ('se_bbr',),
 ('se_fornmin',),
 ('se_fornminne',),
 ('se_ship',)]

In [39]:
cursor.execute("SHOW TABLES")
non_country_tables = set(["prox_search","admin_tree","commonscat","image","monuments_all"])
results = cursor.fetchall()
all_tables = []
for pair in results:
    for item in pair:
        all_tables.append(item)
country_tables =  list(set(all_tables) - non_country_tables) # set difference, then convert back to list
country_tables

['monuments_by_(be-tarask)',
 'monuments_nl-prov_(nl)',
 'monuments_cn_(en)',
 'monuments_be-wal_(nl)',
 'monuments_de-nrw_(de)',
 'monuments_nl-gem_(nl)',
 'monuments_gb-wls_(en)',
 'monuments_be-wal_(en)',
 'monuments_dk-fortidsminder_(da)',
 'monuments_rs_(sr)',
 'monuments_de-he_(de)',
 'monuments_ch3_(de)',
 'monuments_am_(hy)',
 'monuments_dz_(ar)',
 'monuments_mx_(es)',
 'monuments_us-ca_(en)',
 'monuments_es-ct_(ca)',
 'monuments_fr-object_(fr)',
 'monuments_de-nrw-k_(de)',
 'monuments_be-wal_(fr)',
 'monuments_pt_(pt)',
 'se_fornmin',
 'monuments_nl-aw_(en)',
 'monuments_uy_(es)',
 'monuments_fr_(ca)',
 'monuments_at_(de)',
 'monuments_pl-old_(pl)',
 'monuments_gb-eng_(en)',
 'se_fornminne',
 'monuments_es_(ca)',
 'monuments_by_(be-x-old)',
 'monuments_it-88_(ca)',
 'monuments_ru_(ru)',
 'monuments_az_(az)',
 'monuments_no_(no)',
 'monuments_sv_(es)',
 'monuments_pl_(pl)',
 'monuments-old_ch_(de)',
 'monuments_za_(en)',
 'monuments_cm_(fr)',
 'monuments_ch_(it)',
 'monuments_gb-nir_(en)',
 'monuments_it_(it)',
 'monuments_nl-aw_(nl)',
 'monuments_hk_(en)',
 'monuments_de-nrw-bm_(de)',
 'monuments_ua_(uk)',
 'monuments_dk-bygninger_(da)',
 'monuments_be-vlg_(en)',
 'monuments_ee_(et)',
 'monuments_hu_(hu)',
 'monuments_pa_(es)',
 'monuments-old_ch_(it)',
 'monuments_be-vlg_(fr)',
 'se_ship',
 'monuments_ru-old_(ru)',
 'monuments_np_(en)',
 'monuments_es-gl_(gl)',
 'monuments_fr_(fr)',
 'monuments_pk_(en)',
 'monuments_it-bz_(de)',
 'monuments_cz_(cs)',
 'monuments_lu_(lb)',
 'monuments_gh_(en)',
 'monuments_nl_(nl)',
 'monuments_il_(he)',
 'monuments_jo_(ar)',
 'monuments_in_(en)',
 'se_arbetsl',
 'monuments_ch_(de)',
 'monuments_th_(th)',
 'monuments_jp-nhs_(en)',
 'monuments_ca_(en)',
 'monuments_ke_(en)',
 'monuments_es_(es)',
 'monuments_ro_(ro)',
 'monuments_co_(es)',
 'se_bbr',
 'monuments_ar_(es)',
 'monuments_ca_(fr)',
 'monuments_us_(en)',
 'monuments_tn_(fr)',
 'monuments_ch_(fr)',
 'monuments_bo_(es)',
 'monuments_gb-sct_(en)',
 'monuments_cl_(es)',
 'monuments_be-bru_(nl)',
 'monuments_mt_(de)',
 'monuments_ph_(en)',
 'se_arbetsliv',
 'monuments_ie_(en)',
 'monuments_sk_(de)',
 'monuments-old_ch_(en)',
 'monuments_sk_(sk)',
 'monuments_aq_(en)',
 'monuments_de-by_(de)',
 'monuments_ad_(ca)',
 'monuments_ve_(es)',
 'monuments-old_ch_(fr)',
 'monuments_hk-hb_(en)',
 'monuments_ch2_(de)',
 'monuments_es-vc_(ca)',
 'monuments_be-vlg_(nl)']

In [87]:
# test one table
pl = pd.io.sql.read_sql('select * from monuments_in_(en)', conn)

DatabaseError: Execution failed on sql 'select * from monuments_in_(en)': 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '(en)' at line 1

In [85]:
def create_wikitable(table_name, df):
    """Takes a Pandas DataFrame object and writes wikitables to files named after the table they are
    produced from to {the current Directory}/wikitables/
    """
    country_fields = list(df.keys())
    # 
    table_header = '{| class="wikitable"\n'
    table_name = '|+ '+table_name + "\n"
    # create table columns
    table_columns = "! heritage field\n! example value\n! Wikidata property\n! Conversion\n! Comment\n|-\n"
    table_rows = []
    for field in country_fields:
        row="| "+ field + "\n| \n|\n| \n| \n|-\n"
        table_rows.append(row)
    
    table_rows_str = "".join(table_rows)
    # Fill in examples values from the first record in the table
    table_footer = "\n|}"
    wikitable = table_header + table_name + table_columns + table_rows_str[:-1] + table_footer
    print(wikitable)

In [86]:
create_wikitable("se_bbr", pl)

{| class="wikitable"
|+ se_bbr
! heritage field
! example value
! Wikidata property
! Conversion
! Comment
|-
| bbr
|
|
|
|
|-
| namn
|
|
|
|
|-
| region-iso
|
|
|
|
|-
| funktion
|
|
|
|
|-
| byggar
|
|
|
|
|-
| arkitekt
|
|
|
|
|-
| plats
|
|
|
|
|-
| kommun
|
|
|
|
|-
| lat
|
|
|
|
|-
| lon
|
|
|
|
|-
| bild
|
|
|
|
|-
| commonscat
|
|
|
|
|-
| source
|
|
|
|
|-
| changed
|
|
|
|
|-
| monument_article
|
|
|
|
|-
| registrant_url
|
|
|
|
|-
|}